body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

#game {
    width: 400px;
    height: 500px;
    background: #111;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

#jogador {
    width: 40px;
    height: 40px;
    background: rgb(0, 204, 255);
    position: absolute;
    bottom: 10px;
    left: 180px;
}
.tiro {
    width: 4px;
    height: 10px;
    background: yellow;
    position: absolute;
}

.inimigo {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
}
#controles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

#controles button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background: #444;
    color: white;
}
